body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 1200px; /* Limits the container's width */
  width: 100%; /* Ensures the container uses the available width */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centers the container and adds space around it */
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: #333; /* Darker gray for better readability */
}

.sidebar img {
  display: block;
  margin: 0 auto 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.sidebar h1 {
  text-align: center;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: #1abc9c;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

section h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #222; /* Slightly darker for headings */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 20px 0;
}

ul li h3 {
  color: #222; /* Slightly darker for headings */
  font-weight: bold;
}

ul li p {
  margin: 10px 0;
}

ul li strong {
  color: #222; /* Slightly darker for strong text */
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
